html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Sayfanın tam yüksekliğini kaplamasını sağlar */
}

.main-content {
    flex: 1; /* İçeriğin genişlemesini sağlar, footer'ı aşağı iter */
}

/* Footer Tasarımı */
.footer {
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between; /* Logo sola, linkler sağa */
    align-items: center;
    margin-top: auto; /* Footer'ı sayfanın en altına iter */
}

/* Sol taraftaki logo */
.footer-left {
    display: flex;
    align-items: center;
}

.footer-logo {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

/* Sağ taraftaki linkler */
.footer-links {
    display: flex;
    gap: 15px;
}

.footer-link {
    color: white !important;
    text-decoration: none !important;
    font-size: 14px;

}

.footer-link:hover {
    text-decoration: underline;
}